@model Chat

    <div>
        <a asp-controller="Chat" asp-action="Index">Chat</a>
        <a asp-controller="Chat" asp-action="FindUser">Find Users</a>
        <a asp-controller="Chat" asp-action="FindGroup">Find Groups</a>
        <a asp-controller="Chat" asp-action="Private">Private</a>
    </div>

    <div class="modal" id="create-room-modal">
        <form asp-controller="Chat" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                Naam <input type="text" name="name">
                Leeftijd <input type="number" name="age">
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>