@using Microsoft.AspNetCore.Identity;
@using Webdevelopment_Project.Models
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> usermanager;

<!DOCTYPE html>


    <html lang="nl">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>@ViewData["Title"] </title>
            
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link href="~/css/carousel.css" rel="stylesheet"/>
        </head>
    
<body>
<header>
    @* NavigationBar
   <nav class="navbar fixed-top navbar-expand-sm navbar">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" style="border: 2px; border-radius: 1px;">
     Logo
    <img  src="https://www.burojij.nl/wp-content/uploads/2020/12/Logo-JIJ-SEKSUOLOGEN-2020-portfolio-300x300.png" 
            alt="Zorg Maatschap Den Haag Logo" style="width:50px;height:50px;"></img>
        </a>



    Dropdown Menu
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Menu</button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Homepagina</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="FindGroup">Chat</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Specialisten">Specialisten</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="OverOns">Over ons</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Faq">Veel gestelde vragen</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </div>
                </li>
            </ul>
        </div> *@

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img  src="https://www.burojij.nl/wp-content/uploads/2020/12/Logo-JIJ-SEKSUOLOGEN-2020-portfolio-300x300.png" 
            alt="Zorg Maatschap Den Haag Logo" style="width:50px;height:50px;"></img>Zorgmaatschap Den Haag</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link nav-link1" asp-area="" asp-controller="Chat" asp-action="FindGroup">Chat</a>
      <a class="nav-item nav-link nav-link1" asp-area="" asp-controller="Home" asp-action="OnzeSpecialisten">Specialisten</a>
      <a class="nav-item nav-link nav-link1" asp-area="" asp-controller="Home" asp-action="OverOns">Over ons</a>
      <a class="nav-item nav-link nav-link1" asp-area="" asp-controller="Home" asp-action="Faq">Veel gestelde vragen</a>
      <a class="nav-item nav-link nav-link1" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>

            @* 2 Changeable Navbar buttons on the right *@
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Moderator"))
                    {
                        <a class="nav-link nav-item" asp-area="" asp-controller="Moderator" asp-action="IndexModerator">Moderator</a>
                        <a class="nav-link nav-item" asp-area="" asp-controller="Behandeling" asp-action="IndexBehandeling">Behandelingen</a>
                    }

                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                   <a> <form class="nav-link" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="nav-link"> Logout
                                    </form>
                                   </a>
                                    
                                </li>
                            }

                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a><form method="get" asp-area="Identity" asp-page="/Account/Manage/Index" >
                                        <button type="submit" class="nav-link"> Profile </button>
                                    </form>
                                    </a>
                                </li>
                            }

                            @if(!signInManager.IsSignedIn(User))
                            {
                            <li class="nav-item">
                                    <form method="get" asp-area="Identity" asp-page="/Account/Login">
                                        <button type="submit" class="nav-link"> Login </button>
                                    </form>
                                </li>
                            }
                            @if(!signInManager.IsSignedIn(User))
                            {
                            <li class="nav-item">
                                    <form method="get" asp-area="Identity" asp-page="/Account/Register">
                                    <button type="submit" class="nav-link"> Register </button>
                                    </form>
                                </li>
                            }
    </div>
  </div>
</nav>


        @* </nav> *@
        </header>
        <div class="container" >
            <main role="main" class="pb-3">
            @RenderBody()
            </main>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>
    
</html>
