@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "IndexRollen";
}

<h1>Lijst van rollen</h1>
<a asp-action="Create">Rol aanmaken</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Naam</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
           <tr>
               <td>@role.Name</td>
           </tr> 
        }
    </tbody>
</table>
