<h1>Details</h1>

<div>
    <h4>Intake</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Wijzig</a> |
    <a asp-controller="Calendar" asp-action="IndexCalendar">Terug naar calendar</a>
</div>