@model IEnumerable<Afspraak>

@{
    ViewData["Title"] = "Relaties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HulpverlenerEmail)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HulpverlenerEmail)
            </td>
            
        </tr>
}
    </tbody>
</table>