@model Webdevelopment_Project.Models.Report

@{
    ViewData["Title"] = "Melding verwijderen";
}

<h1>Melding verwijderen</h1>

<h2>Weet je zeker dat je dit wilt verwijderen?</h2>
<div>
    <h3>Melding</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReportId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug</a>
    </form>
</div>
