@model IEnumerable<Chat>

    <div class="chat-body">
        @foreach(var chat in Model) {
        <a class="room-button" asp-controller="Chat" asp-action="JoinRoom" asp-route-id="@chat.Id">
            @chat.Name
        </a>
        }
    </div>

    <div id="create-room">
        <form asp-controller="Chat" asp-action="CreateRoom">
            <header>Create Room</header>
            <div>
                Zelfhulpgroep: <input name="name">
                MinimumLeeftijd: <input number="minimumleeftijd">
                MaximumLeeftijd: <input name="maximumleeftijd">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>