@model IEnumerable<Chat>

    @{
    var userId = User.GetUserId();
    }
    <h1>Privé bericht</h1>
    <div>
        <a class="btn btn-primary" role="button" asp-controller="Chat" asp-action="FindGroup">Zoek naar groepen</a>
        <a class="btn btn-primary" role="button" asp-controller="Chat" asp-action="FindUser">Zoek naar gebruikers</a>
        <a class="btn btn-primary" role="button" asp-controller="Chat" asp-action="Private">Prive</a>
        <a class="btn btn-primary" role="button" asp-controller="Chat" asp-action="CreateRoom">Maak een groep aan</a>
    </div>

    <div style="margin-top: 50px" class="chat-body">
        @foreach(var chat in Model) {
        <a class="room-button" asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Users.FirstOrDefault(x => x.UserId != userId).User.UserName
        </a>
        }
    </div>