@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<html lang="nl">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>@ViewData["Title"]</h1>
<p>
    Het Wachtwoord is aangepast. <a asp-page="./Login">Klik hier om in te loggen.</a>.
</p>
