@model Intake


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Aanmelding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeboorteDatum" class="control-label">Geboortedatum</label>
                <input asp-for="GeboorteDatum" class="form-control" />
                <span asp-validation-for="GeboorteDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BSN" class="control-label"></label>
                <input asp-for="BSN" class="form-control" />
                <span asp-validation-for="BSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GewensteHulpverlener" class="control-label"></label>
                <input asp-for="GewensteHulpverlener" class="form-control" />
                <span asp-validation-for="GewensteHulpverlener" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="GewensteHulpverlener" class="control-label">Kies een behandelaar</label> <br>
                <select asp-for="GewensteHulpverlener" class="form-select" aria-label="Default select example">
                    <option selected value= @>Younes </option>
                    <option value="Hulpverlener2@gmail.com">Serdin</option>
                    <option value="Hulpverlener3@gmail.com">Bram</option>
                    <option value="Hulpverlener4@gmail.com">Kevin</option>
                </select>
                <span asp-validation-for="GewensteHulpverlener" class="text-danger"></span>
            </div> *@


            <div class="form-group">
                <label asp-for="GewensteMoment" class="control-label">Gewenst moment</label>
                <input asp-for="GewensteMoment" class="form-control" />
                <span asp-validation-for="GewensteMoment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onderwerp" class="control-label"></label>
                <input asp-for="Onderwerp" class="form-control" />
                <span asp-validation-for="Onderwerp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmelden" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Terug</a>
</div>
