@{
    ViewData["Title"] = "Intake aanvragen";
}
<div class="card text-center">
  
  
  <div class="card-body">
    
    
    
    
    <h1 class="card-title">Voor wie wilt een intake gesprek?</h1>

    <p class="card-text">Let op: wanneer u jonger bent dan 16 moet u toesteming krijgen van uw ouder</p>
    <a asp-controller="Intake" asp-action="CKind"  class="btn btn-primary">Voor mijzelf</a>
    <a asp-controller="Intake" asp-action="CVoogd"  class="btn btn-primary">Voor mijn kind</a>
  </div>
</div>