<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 3px solid #2c2c2c;
  border-radius: 6px;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  background-color: orangered;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  font-size: 15px;
}
</style>
</head>
<body>

<h1>Veel gestelde vragen</h1>

<button class="collapsible collapse-1">Hoe bereid je je voor op dat spannende eerste gesprek? </button>
<div class="content">
    <p>
        Voor een gesprek moet je altijd goed voorbereid zijn. Dit kan verschillenen per persoon. 
        Sommige personen kunnen een gesprek makkelijk voeren, terwijl anderen dat niet kunnen. Zelfs een gesprek voeren met bekende kan spannend zijn. 
        Als je moeite hebt om een gesprek te voeren, is het handig om je voor te bereiden voor het gesprek zodat je zelfverzekerder voelt.  </p>

        <b>Schrijf jouw vragen op</b>
       <p> Als je een gesprek moet voeren, kan je natuurlijk niet stil zijn. Je moet bedenken waarover je het wilt hebben. 
        Het is handig om vooraf op te schrijven wat je in het gesprek wilt zeggen. 
        Door goed voorbereid te zijn voor het gesprek, zal je merken dat je toch minder zenuwachtig bent dan dat je dacht. </p>

        <b>Stel de situatie van de ander voor </b>

       <p> Het is natuurlijk een gesprek en geen presentatie. Dus je moet reacties kunnen verwachten van diegene waarmee je een gesprek voert. 
        Dus je kunt bij elke punt waarover je gaat praten tijdens het gesprek een paar voorbeelden bedenken over hoe diegene kan reageren. Dit helpt echt. 
        Want dit geeft je de mogelijkheid om een antwoord te bedenken. 
        Soms gebeurt het wel eens dat je niet weet hoe je op een reactie moet reageren. En met het voorbereiden helpt dit erg. </p>

        <b>Wat als het niet klikt </b> 
        <p>
            Het kan voorkomen dat tijdens het gesprek het niet klikt. Dit komt heel zelden voor. 
            Maar als het gebeurt, kan je altijd vriendelijk vragen of er misschien een ander persoon een gesprek kan voeren met jou. 
            En als dat niet kan, kan je vragen of je het gesprek kan verplaatsen naar een latere datum met een andere persoon waarmee je het gesprek kan voeren.  
        </p>
</div>

<button class="collapsible collapse-2">Hoe bereik ik mijn hulpverlener? </button>
<div class="content">
    <p>
        Heb jij vragen of wil je wat kwijt? Neem dan contact op met een van onze hulpverleners via onze chatfunctie. 
    </p>

        <b>Hoe werkt het?</b>
       <p>
        De chat is er vooral bedoelt om thuis of onderweg te spreken met onze hulpverleners. 
        De medewerkers luisteren naar jouw verhaal, geven je informatie en proberen jouw vragen zo goed mogelijk te beantwoorden. 
        Bij sommigeproblemen klachten kunnen wij een fysieke afspraak adviseren.
        </p>

        <b>Bereikbaarheid </b>
       <p> Het kan weken of maanden duren voordat je aan de beurt komt om fysiek terecht te kunnen bij een hulpverlener, dit kan ervoor zorgen dat de problemen verergeren. 
            Om dit te voorkomen zijn onze hulpverleners online te bereiken zodat jij niet in de wachtrij hoeft te staan en op afstand met ons kan chatten. </p>

          <b>Betrouwbaar </b>
       <p> Onze hulpverleners kun je bereiken via de chat en alles wat je met ze deelt blijft privé, dat is prettig als je het moeilijk vind om over gevoelige onderwerpen  te praten. 
           Wij werken volgens de privacywet AVG, dit houdt in dat wij jouw gegevens niet langer bewaren dan nodig is en kunnen andere niet meelezen met wat jullie hebben besproken. </p>

        <b>Vertrouwen </b>
       <p> Doordat je thuis digitaal een gesprek met ons kan voeren. 
           Zorgt het ervoor dat je beter op je gemak voelt en wat kan leiden tot meer open gesprekken over gevoelige onderwerpen.  </p>

</div>

<button class="collapsible collapse-3">Hoe kan ik deelnemen aan een groepsapp?  </button>
<div class="content">

    <p>
        Om deel te nemen aan één van de groepsapp, moet je jouwzelf eerst inschrijven. Je kan zoeken naar verschillende hulpgroepen waarbij je kan sorteren op onderwerp en leeftijd. 
        Je kan ook een lijst zien met de deelnemers die in de groep zitten. 
        Als je een groepsapp ziet waarbij je wilt aansluiten, dan kan je daarvoor aanmelden.
        Als je 16 jaar of jonger bent, volgt er dan eerst een toestemmingsronde voordat je aan het gesprek kan meedoen. Als je niet toegelaten wordt, dan krijg je hier een melding van. 
    </p>

        <b>Waarom zou ik mee willen doen? </b>
       <p>
        Je kan met de groepsapp jouw gevoelens en ervaring kwijt. Hier kunnen andere kinderen hun eigen ervaring of mening geven en kunnen jullie er voor elkaar zijn.  
        </p>

        <b>Wat nou als er gepest wordt?  </b>
       <p> Wanneer de hulpverlener die overzicht heeft over de groepsapp merkt dat er een form van pesten speelt, dan kan de hulpverlener de persoon verwijderen en blokkeren van het groepsgesprek. 
           Het is mogelijk om later opnieuw toegang te krijgen van de chat. 
            Ook kunnen kinderen zelf anoniem aangeven wanneer er misbruik plaatsvindt.  </p>

</div>

<button class="collapsible collapse-4">Hoe meld ik me aan? </button>
<div class="content">
    <p>
        Je aanmelden. Dit kan vaak gezien worden als een grote stap. Hiervan moet je niet schrikken of bang zijn. 
        Dit kan je zien als een moment waar je een stap neemt voor hulp. Het kan zo zijn dat de inhoud van dit document u kan helpen om die stap te zetten.  
    </p>

        <b>Familie en vrienden</b>
       <p>
        Bespreek het met familie of vrienden over het aanmelden voor behandelingen. Daarnaast kan een ouder of voogd met jouw toestemming jouw aanmelden als je het te moeilijk vindt om zelf te doen.  
        </p>

        <b>Hulp van huisarts, bedrijfsarts of maatschappelijke werker </b>
       <p> Komt je er zelf niet uit? Of weet je niet precies wat er met je aan de hand is? Dan kunt je naar jouw huisarts of bedrijfsarts gaan. 
           Zijn jouw klachten duidelijk psychisch en niet lichamelijk, dan kunt je ook naar de (bedrijfs) maatschappelijk werker gaan. 
           Je vindt een maatschappelijk werker in een gezondheidscentrum, het wijkcentrum of bij de huisarts. De huisarts behandelt lichte psychische klachten zelf.
           Hij doet dat in samenwerking met een praktijkondersteuner GGZ en kan je ook behandelingen via internet (eHealth) aanbieden.  </p>

          <b>Telefonische overleg </b>
       <p> Je kunt via de telefoon contact met ons opnemen. Tijdens het gesprek zullen wij al jouw vragen en zorgen bespreken. 
           Dit gesprek is anoniem en je hoeft geen angst te hebben dat de inhoud van jouw gesprek wordt bewaard.   </p>

</div>

<button class="collapsible collapse-4">Hoe meld ik me aan? </button>
<div class="content">
    <p>
        Je aanmelden. Dit kan vaak gezien worden als een grote stap. Hiervan moet je niet schrikken of bang zijn. 
        Dit kan je zien als een moment waar je een stap neemt voor hulp. Het kan zo zijn dat de inhoud van dit document u kan helpen om die stap te zetten.  
    </p>

        <b>Familie en vrienden</b>
       <p>
        Bespreek het met familie of vrienden over het aanmelden voor behandelingen. Daarnaast kan een ouder of voogd met jouw toestemming jouw aanmelden als je het te moeilijk vindt om zelf te doen.  
        </p>

        <b>Hulp van huisarts, bedrijfsarts of maatschappelijke werker </b>
       <p> Komt je er zelf niet uit? Of weet je niet precies wat er met je aan de hand is? Dan kunt je naar jouw huisarts of bedrijfsarts gaan. 
           Zijn jouw klachten duidelijk psychisch en niet lichamelijk, dan kunt je ook naar de (bedrijfs) maatschappelijk werker gaan. 
           Je vindt een maatschappelijk werker in een gezondheidscentrum, het wijkcentrum of bij de huisarts. De huisarts behandelt lichte psychische klachten zelf.
           Hij doet dat in samenwerking met een praktijkondersteuner GGZ en kan je ook behandelingen via internet (eHealth) aanbieden.  </p>

          <b>Telefonische overleg </b>
       <p> Je kunt via de telefoon contact met ons opnemen. Tijdens het gesprek zullen wij al jouw vragen en zorgen bespreken. 
           Dit gesprek is anoniem en je hoeft geen angst te hebben dat de inhoud van jouw gesprek wordt bewaard.   </p>

</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
