@{
    ViewData["Title"] = "Home Page";
}

    <head>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="carousel.css" rel="stylesheet">    
</head>

      <div style="padding-top: 100px" id="myCarousel" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        @* Item 1 in Carousel *@
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="https://www.werkmetmensen.be/sites/default/files/styles/1200_x_628/public/iso800%20-%20Vivo%20-%20Coachingstechnieken-73%20%28Aangepast%29.jpg?itok=D8K6ecHY" alt="Slide 1">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Hoe meld ik mij aan?</h1>
                <p> 
                    Ouders kunnen hun kind online aanmelden bij de praktijk voor een intakegesprek, voor >=16 jaar kan de jongere dat zelf. 
                    Hierbij dient de aard van de aandoening aangegeven te worden vergezeld van een verwijzing door de huisarts. 
                </p>
                <p><a class="btn btn-lg btn-primary" asp-area="" asp-controller="Intake" asp-action="Kindv" role="button">Aanmelden</a></p>
              </div>
            </div>
          </div>

        @* Item 2 in Carousel *@
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Slide 2">
            <div class="container">
              <div class="carousel-caption">
                <h2>Specialisten</h2>
                <p>Hoe bereid ik me voor op het eerste intake gesprek?</p>
                <a class="nav-link btn btn-lg btn-primary" asp-area="" asp-controller="Home" asp-action="Specialisten" role="button">Specialisten</a>
              </div>
            </div>
          </div>

        @* Item 3 in Carousel *@
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Slide 3">
            <div class="container">
              <div class="carousel-caption text-right">
                <h3>Begin met chatten!</h3>
                <p><a class="btn btn-lg btn-primary" asp-area="" asp-controller="Chat" asp-action="FindGroup" role="button">Begin met chatten!</a></p>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only" alt="Terug"> Terug </span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only" alt="Volgende"> Volgende </span>
        </a>
      </div>

        <hr class="featurette-divider">

         <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h1 class="featurette-heading">Informatie ouders </h1>
            <p class="lead">
              De praktijk helpt jongeren en ouderen. De praktijk is gespecialiseerd in aandoeningen zoals ADD/ADHD, faalangst, 
              dyslectie/dyscalculie, weinig zelfvertrouwen, laag zelfbeeld en psychische aandoeningen zoals anorexia en 
              dwangstoornissen bij kinderen en jongeren tot 18 jaar en hun ouders. 
              De beroepscode van de Nederlandse Vereniging van Orthopedagogen hanteert de volgende leeftijdscategorieën voor het geven van toestemming voor behandeling/begeleiding en onderzoek:  
            </p>
            <ul>
              <li>Voor kinderen < 12 jaar: de ouder(s) met het gezag (=voogd(en)); </li>
              <li>Voor jongeren van 12 tot 16 jaar: de jeugdige en de ouder(s)/voogd(en); </li>
              <li>tussen 12 en 16 jaar oefenen jongeren hun rechten samen met hun gezaghebbende ouders/voogden uit. Dan is er toestemming van gezaghebbende ouders/voogden en de jongere nodig; </li>
              <li>voor jongeren >= 16 jaar: de jongere zelf. In de jeugdhulp zijn jongeren al vanaf hun 16e jaar zelfstandig. Zij beslissen zelf over hulp en behandeling en oefenen hun rechten zelfstandig uit </li>
            </ul>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://www.vindeentherapeut.be/media/content/6011932137390.jpg" alt="foto1">
          </div>
        </div>
        
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h1 class="featurette-heading">Afspraak maken</h1>
            <p class="lead">
            Voor iedere orthopedagoog is een profiel beschikbaar bestaande uit een korte introductie en het specialisme van de betreffende behandelaar. 
            Zo kan men direct bij aanmelden kiezen voor een orthopedagoog en een afspraak. Telefonisch kan er ook contact met ons opgenomen worden. 
            Tijdens het gesprek zullen wij al jouw vragen en zorgen bespreken. 
            Dit gesprek is anoniem en je hoeft geen angst te hebben dat de inhoud van jouw gesprek wordt bewaard.  </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://ebos-orthopedagogiek.nl/wp-content/uploads/2016/08/Foto-website-mei-2013.jpg" alt="foto2">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h1 class="featurette-heading">Intake </h1>
            <p class="lead">
              Na een aanmelding volgt er een intake. Na de intake kan een hulpverlener voor een cliënt (kind) en optioneel voor zijn of haar ouder/voogd een account aanmaken om toegang te krijgen tot chat en zelfhulpgroep(en). 
              Deze krijgen allebei apart een email om een wachtwoord aan te maken. Waarna ze kunnen inloggen. 
              Hiermee is een ouder/voogd ook direct gekoppeld aan een cliënt (kind) als dat van toepassing is. 
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://www.vindeentherapeut.be/media/content/6011932137390.jpg" alt="foto3">
          </div>
        </div>


