<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Yasuo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    
  p {font-size: 16px;}

  .navbar{
    position: fixed;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex!important;
  }

  .bg-1 { 
    background-color: #474e5d; 
    color: #ffffff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-2 { 
    background-color: #fff; 
    color: #555555;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-3 { 
    background-color: orangered; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 75%;
  }

</style>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Johan Meersen</h1>
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <p>Mijn naam is Johan Meersen en ben geboren en getogen in Amstelveen. 
    Ik werk sinds 1999 als een orthopedagoog gespecialiseerd in eetstoornis. 
    De reden dat ik voor dit beroep hebben gekozen is door een van mijn beste vrienden. 
    Hij had een eetstoornis ontwikkelt waarvan hij zijn hele tienerjaren last van had en de manier waarop hij het had overkomen door de hulp dat hij kreeg, 
    inspireerde mij om dit beroep te gaan doen. Na VWO, heb ik pedagogische wetenschappen aan de Universiteit van Amsterdam gevolgd.
     Bij het afstuderen heb ik me gespecialiseerd in de behandeling van eetstoornissen onder jongeren.  </p>
</div>



<!-- Third Container -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Nu over jou: Heb jij misschien een eetstoornis? </h3>
    <p>Een eetstoornis is een aandoening die bekend is voor een verstoord eetgedrag. 
      Sommige mensen eten te weinig, anderen juist te veel en anderen wisselen perioden van eetbuien af met perioden van extreem lijnen. 
      Een groot gedeelte van de mensen dat een eetstoornis hebben leiden vaak aan een verstoord lichaamsbeeld. 
      Om gewichtstoename te voorkomen zien we vaak dat mensen tot extreme lengtes (gezondheid in gevaar brengen) gaan om gewicht te verliezen en of af te houden.  
    </p>
</div>

<!-- Fourth Container -->
<div class="container-fluid bg-4 text-center">
  <h3 class="margin">Maar wat nu?</h3>
    <p>Een eetstoornis is een ernstig mentale aandoening die niet vanzelf overgaat. 
      Soms kan het zo zijn dat er te laat hulp wordt ingeschakeld, waardoor mensen niet te genezen zijn en te komen overlijden. 
      Daarom hebben wij een eetstoornis behandeling. Op basis van de ernst van de aandoening bepalen we of het best is om indivueel of groepsbehandeling te krijgen. 
      Daarnaast zal ook cognitieve gedragstherapie plaats vinden dit is wetenschappelijk zeer effectief tegen eetstoornissen gebleken.
       Wat houdt cognitieve gedragstherapie in?
        Cognitieve gedragstherapie zullen wij kijken naar jouw gedrag en gedachten. 
        Dit is bedoel om de factoren die de eetstoornis in stand te houden aan te pakken.
         Deze sessies vinden ook een aantal keren bij jou thuis plaats. Dit doen we om te zien wat jou beïnvloed. 

Ik hoop je graag hierbij te helpen. Mocht je meer informatie willen, bel of mail me gerust. 
Daarnaast raad ik aan om met je ouder(s)/ verzorger(s) in gesprek te gaan over het inschrijven voor behandeling.   
    </p>
</div>

</body>
</html>
