<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Karel</title>

  <style>
    
  p {font-size: 16px;}
  .navbar{
    position: fixed;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex!important;
  }
  .bg-1 { 
    background-color: #474e5d; 
    color: #ffffff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .bg-2 { 
    background-color: #fff; 
    color: #555555;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .bg-3 { 
    background-color: orangered; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 75%;
  }

  .rounded-circle{
    border: 2px solid #2c2c2c;
    width: 40%;
  }
  '
  .img-responsive{
    border: 3px solid #2c2c2c;
    border-radius: 5px 20px 5px;
  }
</style>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Karel de Lang</h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhlxOY9HmQenmn9r--QbDIj1nGVia6UgimR_lozsTiOC3wz5ZSmqiL0xvlD4_xmcjt7t8&usqp=CAU" class="img-responsive img-circle margin" style="display:inline" alt="Foto Karel" width="150" height="150">
  <p> Mijn naam is Karel de Lang, ben geboren in 1985 in Leiden en ben enig kind. 
    Ik ben opgegroeid in Alphen aan de Rijn. Ik heb een passie voor het helpen van jongeren en ben altijd nieuwsgierig naar verhalen van anderen. 
    Ik heb sinds jonge leeftijd de neiging om anderen te helpen. Daarom had ik besloten om orthopedagogie te gaan studeren. 
    Ik heb pedagogische wetenschappen aan de Universiteit van Amsterdam gestudeerd.
     Bij het afstuderen heb ik me gespecialiseerd in de behandeling van depressie onder jongeren.  </p>
</div>


<!-- Third Container -->
<div class="container-fluid bg-3 text-center">
  <h2 class="margin">Nu over jou: Heb je misschien depressie of zit je in een dip? </h2>
    <p>Hoe weet je nou dat het geen dip is maar een depressie?
       We hebben allemaal wel eens een dip, simpel een dip is een somber gevoel dat voor een korte tijd aanhoudt en dat op een gegevens moment ophoudt. 
       Als een dip langer dan een paar maanden dan is meer aan de hand dan alleen een dip. 
       Voor jou kan het voelen dat jouw stemming en gevoelens leiden aan somberheid,
        daarnaast verlies je interesse in de mensen en dingen om je heen en kunt er niet meer echt van genieten.
         Vaak is het dat de vitale kenmerken van een depressie toenemen.     
    </p>
</div>

<!-- Fourth Container -->
<div class="container-fluid bg-4 text-center">
  <h2 class="margin">Maar wat nu?</h2>
    <p>In geval van een depressie. Ga ik eerst met jouw vaststellen of jij een depressie hebt of gewoon in een dip zit,
       het kan zo zijn dat op basis van jouw leeftijd jouw ouder(s)/ verzorger(s) betrokken worden. Het is mogelijk om op verschillende manieren te behandeld worden, 
       waarover jezelf kan bepalen welke manier je wilt. 
       Het kan face to face in een op een gesprek waarin jij alleen met mij in gesprek gaat om te achterhalen waarom jij last hebt van depressie en/of vaststellen wat voor depressie je hebt. 
       Dit kan volledig of gedeeltelijk online op basis van jouw voorkeur. 
       Het is ook mogelijk om je aan te melden voor groepstherapieën. 
       Ongeacht jouw keuze over behandeling zullen wij altijd een volwaardig en kwalitatief goede behandeling aanbieden.  

Ik hoop je graag hierbij te helpen, mocht je meer informatie willen bel of mail gerust.
 Daarnaast raden ik aan om met ouder(s)/ verzorger(s) in gesprek te gaan over het inschrijven voor behandeling.  
    </p>
</div>

</body>
</html>
