<!doctype html>
<html lang="nl">
  <head>
    <style>
        .col-md-5 {
            margin-top: 100px;
        }

        .main{
          text-align: center;
        }


        .img-aboutUs{
          border: 5px solid orangered;
          border-radius: 6px;
          max-width: 125%;
          margin-top: 100px;
          margin-left: 50px;
          align-content: center;
        }
            
    </style>

    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div  class="container">

      <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Wie zijn wij? <span class="text-muted"></span></h2>
            <p class="lead">
              Onze werknemers bieden de beste zorg voor mentale problemen bij jongeren. Wij helpen mensen met lichte tot matige klachten. 
              Onze werknemers adviseren en begeleiden jongeren, de ouders en scholen als u te maken heeft met bijvoorbeeld:  </p>

              <p>Als gezondheidszorgpsychologen, GZ-psychologen bieden wij psycho-educatieve gesprekken. 
                Daarnaast helpen wij u met om zo snel mogelijk weer de regie over uw leven terug te krijgen. </p>
          </div>
          <div class="col-md-4">
            <img class="img-aboutUs" src="https://www.doppazorg.nl/wp-content/uploads/2021/07/Mask-Group-19.svg" alt="Foto">
          </div>

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              Wat wij doen 
              
              <span class="text-muted"></span></h2>

            <p class="lead">

              Onze werknemers bieden de beste zorg voor mentale problemen bij jongeren. 
              Wij helpen mensen met lichte tot matige klachten. Onze werknemers adviseren en begeleiden jongeren, de ouders en scholen als u te maken heeft met bijvoorbeeld:  
            </p>
              <ul>
                <li>Leesstoornis (Dyslexie en de verdeling in subtypes) </li> 
                <li>Spellingstoornis (Dysorthografie) </li>
                <li>Rekenstoornis (Dyscalculie en de verdeling in subtypes) </li>
                <li>Taalstoornis (Dysfasie) </li>
                <li>Functiestoornissen </li>
                <li>Rijpingsproblematiek, bij jonge leerlingen </li>
                <li>(Hoog)begaafdheid </li>
                <li>Sociaal-emotionele problemen </li>
                <li>Aandachtsproblemen, gedragsproblemen en stoornissen (zoals A.D.(H.) D. en D.C.D.)</li> 
              </ul>

              <p>Als gezondheidszorgpsychologen, GZ-psychologen bieden wij psycho-educatieve gesprekken. 
                 Daarnaast helpen wij u met om zo snel mogelijk weer de regie over uw leven terug te krijgen. </p>
          </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>