<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Sara</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    
  p {font-size: 16px;}

  .navbar{
    position: fixed;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex!important;
  }

  .bg-1 { 
    background-color: #474e5d; 
    color: #ffffff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-2 { 
    background-color: #fff; 
    color: #555555;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-3 { 
    background-color: orangered; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 75%;
  }

</style>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Sara de Jong</h1>
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <p>Ik ben Sara de Jong. Ik ben geboren in 1989 in Voorburg en heb 1 Broertje. 
    Ik heb heel mijn jeugd gewoond in Pijnacker en ben daarna verhuist naar den haag. 
    Mijn interesses liggen in het helpen van jongeren. In mijn jeugd heb ik altijd mijn broertje geholpen met zijn ADHD. 
    Hij had veel moeite met zijn concentratie en hij is heel impulsief. 
    Waardoor hij vaak in de problemen kwam. Hij had moeite met zich aanpassen en zo had hij een lastige jeugd. 
    Ik zou graag meer kinderen zoals hem begeleiden en helpen! </p>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h2 class="margin">Wat ik gestudeerd heb</h2>
  <p>Ik heb op het Universiteit leiden gestudeerd voor Orthopedagogiek. 
    Na het halen van mijn VWO wist ik gelijk al wat ik wilde doen en ben ik vlot door de opleiding gegaan!</p>
</div>

<!-- Third Container -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Nu over jou: Heb jij misschien ADHD?</h3>
    <p>Heb je soms het gevoel dat je niet kan stilzitten? 
      Of heb je het gevoel dat er allemaal dingen in jouw hoofd afspelen en je kan niet concentreren op 1 ding? 
      Of neem je snel besluiten zonder erbij over na te denken? Dan is het mogelijk dat je ADHD hebt! </p>
</div>

<!-- Fourth Container -->
<div class="container-fluid bg-4 text-center">
  <h3 class="margin">Maar wat nu?</h3>
    <p>
    Wij zullen eerst testen en uitzoeken of je echt ADHD hebt! Als dit klopt, dan zullen we samen kijken naar hoe jij ermee omgaat. 
    Ik zal je ook helpen en begeleiden met hoe je met jouw ADHD omgaat!
    Er zijn verschillenden dingen die we kunnen doen om je er mee te helpen. 
    Je kan ook veel uit je ADHD halen en daar zullen we ook aandacht aanbesteden. Samen zullen we zorgen dat jij jouw ADHD kan beheersen. 
    Als je het nog niet zeker weet of je wilt meer informatie, kan je mij altijd mailen of bellen. 
    We plannen dan een intakegesprek in en dan kijken we of het klikt. Daarna kan je altijd nog jouw keuze veranderen!   
    </p>
</div>

</body>
</html>
