<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Sara</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    
  p {font-size: 16px;}
  .navbar{
    position: fixed;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex!important;
  }
  .bg-1 { 
    background-color: #474e5d; 
    color: #ffffff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .bg-2 { 
    background-color: #fff; 
    color: #555555;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .bg-3 { 
    background-color: orangered; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 75%;
  }
</style>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Sara de Jong</h1>
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <p>Ik ben Sara de Jong. Ik ben geboren in 1.989 in Voorburg. Ik heb 1 broertje.  

Ik heb heel mijn jeugd gewoond in Pijnacker en ben daarna verhuisd naar Den Haag. Mijn interesses liggen in het helpen van jongeren en fotografie. 
Op het Universiteit Leiden heb ik orthopedagogiek gestudeerd. 
Na het behalen van mijn VWO wist ik gelijk al wat ik wilde doen en ben ik vlot door de opleiding gegaan. </p>
</div>

<!-- Third Container -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Nu over jou: Heb jij misschien ADHD?</h3>
    <p>Heb je soms het gevoel dat je niet kunt stilzitten? Of heb je het gevoel dat er allemaal dingen in jouw hoofd afspelen, 
      maar je kan je niet concentreren op 1 ding? Of neem je te snel beslissingen zonder erbij over na te denken? 
      Daarnaast jan het zijn dat je vaak in je eigen wereld zit, voor anderen lijkt het alsof je aan het dagdromen bent.  

Dan is het mogelijk dat je ADHD hebt!   </p>
</div>

<!-- Fourth Container -->
<div class="container-fluid bg-4 text-center">
  <h3 class="margin">Maar wat nu?</h3>
    <p>
  Wij zullen eerst wat een aantal testenuitvoeren om uit te zoeken of je echt ADHD hebt! 
  Als dit klopt dan zullen we samen kijken naar hoe jij ermee om kan gaan. 
Er zijn verschillenden dingen die we kunnen doen om je te helpen, 
want je kan ook veel uit je ADHD halen! Samen zullen we zorgen dat jij jouw ADHD kan beheersen. 

Als je nog niet zeker bent of je wilt meer informatie kan je altijd mailen of bellen voor een intakegesprek. 
Daarna kan je altijd nog jouw keuze veranderen! en!   
    </p>
</div>

</body>
</html>
