<!DOCTYPE html>
<html lang="nl">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.btn-secondary{
  background-color: orangered;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
</style>
</head>
<body>
    
<div style="margin-top: 50px;" class="row">

          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.kindpng.com/picc/m/229-2299436_pepe-twitch-emotes-hd-png-download.png" alt="Foto van Yasuo" width="140" height="140">
            <h2>Yasuo</h2>
            <p>Ik heet Yasuo sun, geboren in 1987 in Delft. Ik ben de jongste van 2 kinderen.
              Vanaf jongs af aan ben ik alleen opgegroeid met mijn oudere broer en ben later erg nieuwsgierig geworden naar verhalen van andere jongeren die problemen hebben. 
            </p>
            <p><a class="btn btn-secondary" href="/Home/Yasuo" role="button">Lees meer over Yasuo &raquo;</a></p>
          </div><!-- /.col-lg-4 -->


          <div class="col-lg-4">
            <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqAXw0m55xIpjKbw3DDDuA3TT5381LFUYrwQ&usqp=CAU" alt="Foto van Sara" width="140" height="140">
            <h2>Sara</h2>
            <p>Ik ben Sara de Jong. Ik ben geboren in 1989 in Voorburg en heb 1 Broertje. 
              Ik heb heel mijn jeugd gewoond in Pijnacker en ben daarna verhuist naar den haag. Mijn interesses liggen in het helpen van jongeren. 
              Ik zou graag meer kinderen zoals hem begeleiden en helpen! </p>
            <p><a class="btn btn-secondary" href="/Home/Sara" role="button">Lees meer over Sara &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f52b480d-bf3b-4683-9335-379f25f65e76/de61fk2-e7159735-7477-465c-aebc-efee5e914ef0.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y1MmI0ODBkLWJmM2ItNDY4My05MzM1LTM3OWYyNWY2NWU3NlwvZGU2MWZrMi1lNzE1OTczNS03NDc3LTQ2NWMtYWViYy1lZmVlNWU5MTRlZjAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qTNNfJKR952PS34htdsbfcyBB7hKiKk9DY-VlRhs4RY" alt="Foto van Karel" width="140" height="140">
            <h2>Karel</h2>
            <p>Mijn naam is Karel de Lang. Ik ben geboren in 1985 in Leiden en opgegroeid in Alphen aan de Rijn. 
              Ik heb een passie voor het helpen van jongeren en ben altijd nieuwsgierig geweest naar verhalen van anderen. 
              Ik heb sinds jonge leeftijd de neiging gehad om anderen te helpen.  </p>
            <p><a class="btn btn-secondary" href="/Home/Karel" role="button">Lees meer over Karel &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="https://c.tenor.com/I8jICb1In9MAAAAC/peepo.gif" alt="Foto van Johan" width="140" height="140">
            <h2>Johan</h2>
            <p>Mijn naam is Johan Meersen en ben geboren en getogen in Amstelveen. 
              Ik werk sinds 1999 voor Groot Hoogwaak als een orthopedagoog gespecialiseerd in eetstoornis. 
            </p>
            <p><a class="btn btn-secondary" href="/Home/Johan" role="button">Lees meer over Johan &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

</body>
</html>
