<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Yasuo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    
  p {font-size: 16px;}

  .navbar{
    position: fixed;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: flex!important;
  }

  .bg-1 { 
    background-color: #474e5d; 
    color: #ffffff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-2 { 
    background-color: #fff; 
    color: #555555;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-3 { 
    background-color: orangered; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
    border: 3px solid #2c2c2c;
    border-radius: 3px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    max-width: 75%;
  }

</style>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Yasuo Sun</h1>
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <p>Ik heet Bert van der Meer, geboren in 1987 in Delft. Ik ben de jongste van 2 kinderen. 
    Sinds jongs af aan ben ik gefascineerd met helpen van anderen. Dit zorgde ervoor dat ik de richting van orthopedagogie ben gegaan. 
    Ik heb gekozen om te studeren aan orthopedagogiek bij de Universiteit van Delft. 
    Na het afstuderen heb ik mij gespecialiseerd in de behandeling van faalangst.  </p>
</div>

<!-- Second Container -->

<!-- Third Container -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Nu over jou: jij hebt misschien faalangst.</h3>
    <p>Wanneer je bijvoorbeeld zenuwachtig bent bij het maken van een toets of bang bent dat je iets gaat falen, zou je kunnen denken dat je faalangst hebt. 
      Dit heeft iedereen wel, bij de ander wat minder en bij de ander wat meer. Dit verschilt per persoon. 
      Bij faalangst ben je bang dat alles wat je doet zal mislukken. Vaak gaat dit over het uitvoeren van iets concreet zoals een tentamen, een opdracht.
       Dit kan heel vervelend zijn als je iets belangrijks moet gaan halen. Vooral als je goed hebt voorbereid. 
    </p>
</div>

<!-- Fourth Container -->
<div class="container-fluid bg-4 text-center">
  <h3 class="margin">Maar wat nu?</h3>
    <p>Als je vermoeden hebt dat je faalangst hebt, zullen we samen gaan uitzoeken of je wel echt faalangst hebt en niet iets anders. 
      Dit gaan we uitzoeken door een test te maken. Aan de hand van de resultaten zullen wij een op maat gemaakte behandelingsplan maken. 
      Tijdens de test komen een aantal onderwerpen aan bod.  

    </p>
</div>

</body>
</html>
