@{
  ViewData["Title"] = "Hulpverlener Dashboard";
}

<section>
  <h3 class="text-center">Welkom op het moderator dashboard!</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="col-md-12 questionBox">
          <p>Klik op de onderstaande knop om een overzicht van clienten en Hulpverleners te zien!</p> <br>
          <a href="/ModeratorDashboard/ClientEnHulpverlener"><button aria-label="Klik hier om naar het overzicht van clienten en Hulpverleners te gaan">Ga naar het overzicht</button></a>
        </div>
</section>
<br>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="col-md-12 questionBox">
          <p>Klik op de onderstaande knop om een overzicht van de behandelingen te zien!</p> <br>
          <a href="/ModeratorDashboard/BehandelingsOverzicht"><button aria-label="Klik hier om naar het overzicht met behandelingen te gaan">Ga naar het overzicht</button></a>
        </div>
</section>
