@using Webdevelopment_Project.Models
@model List<Webdevelopment_Project.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "IndexModerator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Hulpverlener</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Email</td>
            <td>@user.HulpverlenerEmail</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>
                <a class="btn btn-primary" asp-controller="Moderator" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
            </td>
        </tr>
        }
        <a class="btn btn-primary" asp-controller="Report" asp-action="IndexReport">Toon Gemelde misbruik</a>
    </tbody>
</table>