* {
  box-sizing: border-box;
}

body {
  width: 100wh;
  display: flex;
  flex-direction: column;
}

.vh-100 {
  height: auto;
}

.row::after {
content: "";
clear: both;
display: table;
}

[class*="col-"] {
float: left;
padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.navbar-default { 
  margin : 0 !important; 
}

.navbar{
    margin-right: auto;    
    margin-left: auto;  
    padding: 14px 16px;  
    max-width: 100%;    
    min-width: 100%;
    max-height: 70px;
    color: #fff;
    background-color: #2c2c2c;
    border: #2c2c2c 1px solid;
    border-radius: 3px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.btn{
  transition-duration: 0.4s;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px;
  border-radius: 3px;
  overflow: hidden;
  float: right;
}

.btn-primary{
  color: #fff;
  background-color: orangered;
}

.btn:hover{
  background-color: orangered;
  color: white;
}
.navbar-brand{
  color: #fff;
  display: inline-block;
  border: 1px;
  border-radius: 3px;
}

.navbar-brand:hover{
  color: white;
}

.nav-item{
  color: black;
  background-color: #343a40;
  border: 1px #343a40;
  bottom: 150px;
}
.name{
  position: relative; 
}

.nav-item:hover{
  background-color: orangered;
  color: white;
}

.nav-link{
  transition-duration: 0.4s;
  color: white; 
  display: inline-block;
  border: 1px;
  border-radius: 3px;
}

.show{
  margin-bottom: 120px;
}

.nav-link:hover{
  background-color: orangered;
  color: white;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

.dropdown-item:hover{
  background-color: orangered;
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #3c3c3c;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffff;
}

.border-top {
  border-top: 1px solid #e5e5e5;

}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.side-menu {
  background-color: #443554;
  min-width: 100px;
  max-width: 100px;
  z-index: 50;
  box-shadow: 1px 0 2px 0 #333;
  display: flex;
  flex-direction: column;
}

.room-button {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 1rem 0;
  height: 68px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px #333;
  background-color: #57446b;
  text-align: center;
}

.room-button > strong {
  font-size: 36px;
}

.room-button:hover {
  box-shadow: 0 2px 3px 1px #222;
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.chat-body {
  background-color: #eee;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  overflow: auto;
}

.message {
  display: flex;
  flex-direction: row;
  margin-top: 0.2rem;
}

.message:first-child {
  margin-top: auto;
}

.message > * {
  padding: 0.2rem;
}

.message > header {
  font-weight: bold;
  min-width: 100px;
  text-align: right;
}
.message > p {
  margin: 0;
  flex-grow: 5;
}
.message > footer {
  min-width: 60px;
  text-align: center;
}

.chat-input {
  background-color: #443554;
  min-height: 70px;
  max-height: 70px;
  z-index: 25;
  box-shadow: 0 -1px 2px 0 #333;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.chat-input > input {
  flex-grow: 2;
}

.chat-input > button {
  flex-grow: 1;
}

.modal {
  display: none;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(0.2, 0.2, 0.2, 0.8);
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body > .close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 0;
}

.modal-body {
  position: relative;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #5c4773;
  padding: 1rem;
}

.modal-body > * {
  margin-top: 0.75rem;
}

.modal-body > header {
  color: #fff;
  font-size: 24px;
}

.modal-body > div > input {
  width: 100%;
}

.modal-body > footer {
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

